.footer-nav {
    background-color: color-var(--global__colors__black);

    &__container {
        padding-left: var(--global__sizing__layout-spacing--half);
        padding-right: var(--global__sizing__layout-spacing--half);
    }
    &__social {
        padding: var(--header__nav-menu__padding-vertical) var(--header__nav-menu__padding-horizontal);

        > *  {
            margin-bottom: 0;
        }

        .list--inline {
            > li {
                padding-left: calc(#{var(--block-text__lists__item-inline-spacing-horizontal)} * 2);
                padding-right: calc(#{var(--block-text__lists__item-inline-spacing-horizontal)} * 2);
            }

            a {
                display: flex;
                align-items: center;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .icon {
            margin-right: var(--global__sizing__text-spacing--half);
        }
    }
    &__copyright {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: var(--header__nav-menu__padding-vertical) var(--header__nav-menu__padding-horizontal);
        color: color-var(--global__colors__white);

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
        }

        > * {
            margin-bottom: 0;
        }
    }

    #sb_instagram #sbi_images .sbi_item {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        &:nth-child(-n+6) {
            @include media-breakpoint-down(sm) {
                display: inline-block;
            }
        }
    }
}
