.header-nav {
    background-color: color-var(--global__colors__black);
    color: color-var(--global__body__color-inverted);
    flex-flow: column nowrap;

    &__featured-podcast {
        border-bottom: 2px solid color-var(--global__body__background);
    }

    &__featured-podcast-container {
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;

        @include media-breakpoint-up(md) {
            padding: var(--header__nav-menu__padding-vertical) var(--header__nav-menu__padding-horizontal);
        }

        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
            padding-top: 0;
            padding-bottom: 0;
        }

        .mejs-audio {
            @include media-breakpoint-down(sm) {
                width: 100% !important;
            }
        }
    }

    &__featured-podcast-text {
        display: none;
        text-transform: uppercase;
        font-size: $font-size-small;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &__menu {
        flex-basis: 100%;
        justify-content: space-between;
        padding: var(--header__nav-menu__padding-vertical) var(--header__nav-menu__padding-horizontal);

        @include media-breakpoint-up(xl) {
            justify-content: center;
        }
    }
    &__search-button {
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        color: color-var(--global__colors__white);
        display: flex;
    }
    &__search-drawer {
        overflow: hidden;
        position: absolute;
        top: 100%;
        z-index: 10;
        max-height: 0;
        width: 100%;
        background-color: color-var(--global__colors__black);
        transition: max-height .25s ease-in;

        &--open {
            overflow: auto;
            max-height: calc(100vh - 75px);
            transition: max-height .25s ease-in;
        }
    }
    .search-form {
        padding: 0 var(--global__sizing__layout-spacing--half) var(--global__sizing__layout-spacing--half);
        &__field {
            background-color: color-var(--global__colors__white);
            padding: calc(var(--form-fields__common__padding-vertical)/2) calc(var(--form-fields__common__padding-horizontal)/2);
        }

    }
}
