.nav-menu {
    &__item {
        position: relative;
        color: color-var(--global__colors__gray-lighter);
        text-transform: uppercase;

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        svg {
            margin-left: var(--global__sizing__text-spacing--half);
            width: .5em;
            height: .5em;
        }

        &--has-sub > a:after {
            content: '';
        }
    }
    &__toggle-bar {
        background-color: color-var(--global__colors__gray-lighter);
    }
    &__toggle-label {
        display: none;
    }
}
