.pagination {
    .page-numbers {
        @extend %button;
        &:not(.current) {
            @extend %button--contrast;
        }
        &.current {
            background-color: color-var(--global__colors__gray-lighter);
            color: color-var(--global__colors__black);
        }
    }
}
