.podcast-episode {
    margin-bottom: var(--global__sizing__layout-spacing--half);
    background-color: color-var(--global__colors__white);
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    height: 100%;

    &__image {
        position: relative;
        margin-bottom: var(--global__sizing__layout-spacing--half);

        @include media-breakpoint-up(md) {
            &:hover {
                .podcast-episode {
                    &__overlay {
                        opacity: 1;
                    }

                    &__overlay-title {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: color-var(--global__colors__primary);
        opacity: 0;
        transition: all .15s ease-in-out;
    }

    &__overlay-title {
        opacity: 0;
        transition: all .15s ease-in-out;
        text-align: center;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        > a {
            padding: var(--global__sizing__layout-spacing--default);
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                text-decoration: none;
                color: color-var(--global__body__color);
            }
        }
    }

    &__heading {
        display: block;
        text-align: center;

        @include media-breakpoint-up(md) {
            display: none;
            text-align: left;
        }
    }

    &__description {
        display: none;
    }

    &__content {
        padding:  0 var(--global__sizing__layout-spacing--half);
    }

    &__sharer-icons {
        text-align: center;
    }

    &--no-sharer-icons {
        .podcast-episode {
            &__sharer-icons {
                display: none;
            }
        }
    }
}

.podcast-episode.responsive-component--expanse {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 0;

    .podcast-episode {
        &__image {
            display: flex;
            flex: 1 0 50%;
            margin-bottom: 0;

            @include media-breakpoint-up(lg) {
                flex: 1 0 40%;
            }
        }
        &__overlay {
            display: none;
        }
        &__heading {
            @include heading-size(--headings__large);
        }
        &__heading,
        &__description {
            text-align: left;
            display: block;
        }
        &__content {
            display: flex;
            flex-flow: column nowrap;
            padding: var(--global__sizing__layout-spacing--default) var(--global__sizing__layout-spacing--double);
            flex: 1 0 50%;

            @include media-breakpoint-up(lg) {
                flex: 1 0 60%;
            }
        }
        &__sharer-icons {
            text-align: left;
            display: block;
        }
    }
}
