.post-action-card {
    border: 1px solid color-var(--global__colors__gray-lighter);
    &__content-container {
        padding: var(--global__sizing__text-spacing--default);
        background-color: color-var(--global__colors__white);

        > * {
            margin-bottom: var(--global__sizing__text-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__sharer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 1em;
            height: 1em;
        }
    }
    &__date-comments {
        color: color-var(--global__links__color);
        text-transform: uppercase;
        font-size: $font-size-small;
    }
    &.responsive-component--expanse {
        display: flex;
        flex-flow: row nowrap;
        .post-action-card {
            &__image-container {
                flex: 1 0 50%;
                @include media-breakpoint-up(xl) {
                    flex: 1 0 34%;
                }
            }
            &__content-container {
                flex: 1 0 50%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: var(--global__sizing__layout-spacing--default);

                @include media-breakpoint-up(xl) {
                    flex: 1 0 66%;
                }
            }
            &__sharer-container {
                flex-flow: column nowrap;
                align-items: flex-start;

                > * {
                    margin-bottom: var(--global__sizing__text-spacing--half);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &.responsive-component--narrow {
        .post-action-card {
            &__sharer-container {
                flex-flow: column nowrap;
                align-items: flex-start;
            }
        }
    }
}
