.search-form {
    display: flex;
    max-width: 750px;
    margin: 0 auto;

    &__label {
        margin: 0;
        width: 100%;
    }
    .button {
        display: flex;
        border-radius: 0;
        padding: calc(var(--form-fields__common__padding-vertical)/2) calc(var(--form-fields__common__padding-horizontal)/2);
    }
}
