blockquote {
    @include fluid-type(60px, 75px);
    font-family: $font-family-script;
}

.list {
    &--dotted {
        li {
            &:after {
                content: '\2022';
                padding-left: calc(var(--block-text__lists__item-inline-spacing-horizontal) + 2px);
            }
            &:last-child {
                padding: 0;
                &:after {
                    content: none;
                }
            }
        }
    }
}

.link-icon {
    transition: color 0.15s ease-in-out;
    &--facebook:hover {
        color: $icon-facebook-color;
        .icon-use {
            color: $icon-facebook-color;
        }
    }
    &--instagram:hover {
        color: $icon-instagram-color;
        .icon-use {
            color: $icon-instagram-color;
        }
    }
    &--youtube:hover {
        color: $icon-youtube-color;
        .icon-use {
            color: $icon-youtube-color;
        }
    }
    &--pinterest:hover {
        color: $icon-pinterest-color;
        .icon-use {
            color: $icon-pinterest-color;
        }
    }
}
