%button,
.button {
    &--contrast {
        background-color: color-var(--global__colors__black);
        color: color-var(--global__colors__white);

        &:hover {
            background-color: color-var(--global__colors__gray-lighter);
            color: color-var(--global__colors__black);
        }
    }
}
