%heading,
.heading {
    font-family: $font-family-secondary;

    &--xlarge {
        text-transform: uppercase;
    }

    &--thin {
        font-weight: normal;
    }
    &--inverted {
        color: color-var(--global__body__color-inverted);
    }
}
