.icon-use {
    transition: color 0.15s ease-in-out;
}

a:hover .icon-anchor .icon-use,
.icon-anchor:hover .icon-use {
    color: $icon-anchor-color;
}

a:hover .icon-spotify .icon-use,
.icon-spotify:hover .icon-use {
    color: $icon-spotify-color;
}

.icon.icon-youtube svg {
    width: $icon-svg-size;
}
