@font-face {
    font-family: 'noto-serif';
    src: url('#{$font-path}/NotoSerifDisplay-ExtraCondensedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'emitha';
    src: url('#{$font-path}/emitha.woff2') format('woff2'),
    url('#{$font-path}/emitha.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans';
    src: url('#{$font-path}/NunitoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans';
    src: url('#{$font-path}/NunitoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-sans';
    src: url('#{$font-path}/NunitoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'nunito-sans';
    src: url('#{$font-path}/NunitoSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
