// Fonts

$font-path: '../fonts' !default;
$font-family-sans-serif: "nunito-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif-secondary: "noto-serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-script: "emitha", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-secondary: $font-family-sans-serif-secondary;
$font-size-small: 14px;

$icon-svg-size: 1.25em;
$icon-anchor-color: #8940fa;
$icon-spotify-color: #84bd00;
$icon-facebook-color: #3b5998;
$icon-instagram-color: #e95950;
$icon-youtube-color: #c4302b;
$icon-pinterest-color: #c8232c;
$icon-twitter-color: #00acee;

$nav-menu-responsive-breakpoint: $screen-xl;
