.single-grid {
    &__container {
        padding: 0;
        display: flex;
    }
    &__main,
    &__sidebar {
        .content-section:first-child:not(.content-section--has-bg) {
            margin-top: 0;
        }
    }
    &__main {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 100%;

        @include media-breakpoint-up(md) {
            flex-basis: 70%;
        }
    }
    &__sidebar {
        display: flex;
        flex: 1 0 100%;

        @include media-breakpoint-up(md) {
            flex-basis: 30%;
        }
    }
}
